.nav-r{
    position: absolute;
    right: 0;
    padding-right: 25px;
}

.dropdown a{
    color:black;
    text-decoration: none;
}

.bg-header{
    background-color: lemonchiffon;
}


@media screen and (min-width: 992px){
    .nav-r{
        margin-left:3rem!important;
    }
}

@media screen and (max-width: 992px){
    .nav-r{
        margin-left:0!important;
    }
}

